* {
    margin: 0;
    padding: 0;
}

.nav {
    height: 460px;
    background-color: #1f2937;
    font-family: Arial, Helvetica, sans-serif;
    size: 18px;
    color: #e5e7eb;
}

.upper {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.nav .logo {
    color: #f9faf8;
    font-size: 24px;
}

.links ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 50px;
}

.lower {
    height: 360px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lower img {
    width: 30%;
}

.description {
    padding: 10px;
    margin-left: 30px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.description h3 {
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
}

.description p {
    font-size: 18px;
    color: #e5e7eb;
}

.description button {
    border: none;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 8px 30px;
    align-self: flex-start;
}