* {
    margin: 0;
    padding: 0;
}

.nav {
    height: 460px;
    background-color: #1f2937;
    font-family: Arial, Helvetica, sans-serif;
    size: 18px;
    color: #e5e7eb;
}

.upper {
    padding: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
}

.nav .logo {
    color: #f9faf8;
    font-size: 24px;
}

.links ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 50px;
}

.lower {
    height: 360px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid red;
}

.lower img {
    height: 250px;
}

.description {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.description button {
    border: none;
    background-color: #3882f6;
    padding: 8px 30px;
    border-radius: 10px;
}